In [1]:
#1. Create a set with integers from 1 to 5.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [2]:
#2. Add an element to a set.

my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [3]:
#3. Remove an element from a set.

my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

In [4]:
#4. Check if an element exists in a set.
my_set = {1, 2, 3, 4, 5}
if 3 in my_set:
    print("Element exists in the set")
else:
    print("Element does not exist in the set")

Element exists in the set

In [5]:
#5. Find the length of a set without using the `len()` function.
my_set = {1, 2, 3, 4, 5}
count = sum(1 for _ in my_set)
print(count)

5

In [6]:
#6. Clear all elements from a set.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [7]:
#7. Create a set of even numbers from 1 to 10.
even_set = {x for x in range(1, 11) if x % 2 == 0}
print(even_set)

{2, 4, 6, 8, 10}

In [8]:
#8. Create a set of odd numbers from 1 to 10.
odd_set = {x for x in range(1, 11) if x % 2 != 0}
print(odd_set)

{1, 3, 5, 7, 9}

In [9]:
#9. Find the union of two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [10]:
#10. Find the intersection of two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [11]:
#11. Find the difference between two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [12]:
#12. Check if a set is a subset of another set.
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
if set1.issubset(set2):
    print("Set1 is a subset of Set2")
else:
    print("Set1 is not a subset of Set2")

Set1 is a subset of Set2

In [13]:
#13. Check if a set is a superset of another set.
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
if set1.issuperset(set2):
    print("Set1 is a superset of Set2")
else:
    print("Set1 is not a superset of Set2")

Set1 is a superset of Set2

In [14]:
#14. Create a set from a list.

my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [15]:
#15. Convert a set to a list.
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

In [16]:
#16. Remove a random element from a set.
import random

my_set = {1, 2, 3, 4, 5}
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print(my_set)

{1, 2, 4, 5}

In [17]:
#17. Pop an element from a set.
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print(popped_element)
print(my_set)

1
{2, 3, 4, 5}

In [18]:
#18. Check if two sets have no elements in common.

set1 = {1, 2, 3}
set2 = {4, 5, 6}
if set1.isdisjoint(set2):
    print("The sets have no elements in common")
else:
    print("The sets have elements in common")

The sets have no elements in common

In [19]:
#19. Find the symmetric difference between two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)

{1, 2, 4, 5}

In [20]:
#20. Update a set with elements from another set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

In [21]:
#21. Create a set of the first 5 prime numbers.
prime_set = {2, 3, 5, 7, 11}
print(prime_set)

{2, 3, 5, 7, 11}

In [22]:
#22. Check if two sets are identical.
set1 = {1, 2, 3}
set2 = {3, 2, 1}
if set1 == set2:
    print("The sets are identical")
else:
    print("The sets are not identical")

The sets are identical

In [24]:
#23. Create a frozen set.
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [25]:
#24. Check if a set is disjoint with another set.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if set1.isdisjoint(set2):
    print("The sets are disjoint")
else:
    print("The sets are not disjoint")

The sets are disjoint

In [26]:
#25. Create a set of squares of numbers from 1 to 5.
squares_set = {x**2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

In [27]:
#26. Filter out all even numbers from a set.
my_set = {1, 2, 3, 4, 5}
filtered_set = {x for x in my_set if x % 2 != 0}
print(filtered_set)

{1, 3, 5}

In [28]:
#27. Multiply all elements in a set by 2.
my_set = {1, 2, 3, 4, 5}
multiplied_set = {x * 2 for x in my_set}
print(multiplied_set)

{2, 4, 6, 8, 10}

In [29]:
#28. Create a set of random numbers.
import random

random_set = {random.randint(1, 10) for _ in range(5)}
print(random_set)

{2, 3, 5, 6, 9}

In [30]:
#29. Check if a set is empty.
my_set = set()
if not my_set:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

In [31]:
#30. Create a nested set (hint: use frozenset).
nested_set = {frozenset([1, 2]), frozenset([3, 4, 5])}
print(nested_set)

{frozenset({3, 4, 5}), frozenset({1, 2})}

In [32]:
#31. Remove an element from a set using the discard method.
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)

{1, 2, 4, 5}

In [33]:
#32. Compare two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
if set1 == set2:
    print("The sets are equal")
elif set1.issubset(set2):
    print("Set1 is a subset of Set2")
elif set2.issubset(set1):
    print("Set2 is a subset of Set1")
else:
    print("The sets are not equal or subsets of each other")

The sets are not equal or subsets of each other

In [34]:
#33. Create a set from a string.
my_string = "hello"
my_set = set(my_string)
print(my_set)

{'h', 'l', 'e', 'o'}

In [35]:
#34. Convert a set of strings to a set of integers.
string_set = {"1", "2", "3"}
int_set = {int(x) for x in string_set}
print(int_set)

{1, 2, 3}

In [36]:
#35. Convert a set of integers to a set of strings.
int_set = {1, 2, 3}
string_set = {str(x) for x in int_set}
print(string_set)

{'2', '1', '3'}

In [37]:
#36. Create a set from a tuple.
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

In [38]:
#37. Convert a set to a tuple.
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

In [39]:
#38. Find the maximum value in a set.
my_set = {1, 2, 3, 4, 5}
max_value = max(my_set)
print(max_value)

5

In [40]:
#39. Find the minimum value in a set.
my_set = {1, 2, 3, 4, 5}
min_value = min(my_set)
print(min_value)

1

In [41]:
#40. Create a set from user input.
user_input = input("Enter a set of numbers (comma-separated): ")
user_set = set(user_input.split(","))
print(user_set)

Enter a set of numbers (comma-separated):  4,5,8,6,4

{'6', '4', '5', '8'}

In [42]:
#41. Check if the intersection of two sets is empty.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
intersection = set1.intersection(set2)
if not intersection:
    print("The intersection is empty")
else:
    print("The intersection is not empty")

The intersection is empty

In [43]:
#42. Create a set of the first 5 Fibonacci numbers.

fibonacci_set = {0, 1}
a, b = 0, 1
for _ in range(3):
    a, b = b, a + b
    fibonacci_set.add(a)
print(fibonacci_set)

{0, 1, 2}

In [44]:
#43. Remove duplicates from a list using sets.
my_list = [1, 2, 2, 3, 3, 4, 5, 5]
my_set = set(my_list)
unique_list = list(my_set)
print(unique_list)

[1, 2, 3, 4, 5]

In [45]:
#44. Check if two sets have the same elements, regardless of their count.
set1 = {1, 2, 3}
set2 = {3, 2, 1, 1}
if set1 == set2:
    print("The sets have the same elements")
else:
    print("The sets do not have the same elements")

The sets have the same elements

In [46]:
#45. Create a set of the first `n` powers of 2.
n = 5
powers_of_2 = {2**x for x in range(n)}
print(powers_of_2)

{1, 2, 4, 8, 16}

In [47]:
#46. Find the common elements between a set and a list.
my_set = {1, 2, 3, 4, 5}
my_list = [4, 5, 6, 7, 8]
common_elements = my_set.intersection(my_list)
print(common_elements)

{4, 5}

In [49]:
#47. Create a set of the first `n` triangular numbers.
n = 5
triangular_set = {(x * (x + 1)) for x in range(n)}
print(triangular_set)

{0, 2, 6, 12, 20}

In [51]:
#48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [52]:
#49. Create a set of alternating 1s and 0s of length `n`.
n = 10
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(alternating_set)

{0, 1}

In [54]:
#50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {7, 8, 9}

combined_set = set1.union(set2, set3)
# or
# combined_set = set1 set2 set3

print(combined_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}