In [51]:
#1. Create a tuple with integers from 1 to 5.
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [52]:
#2. Access the third element of a tuple.
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print(third_element)

3

In [74]:
#3. Find the length of a tuple without using the `len()` function.
my_tuple = (1, 2, 3, 4, 5)
length = sum(1 for _ in my_tuple)
print(length)

#------
my_tuple = (10, 20, 30, 40, 50)
# Step 2: Initialize a variable to count the elements
count = 0
# Step 3: Iterate through the tuple and increment the count for each element
for _ in my_tuple:
    count += 1
# Step 4: Print the length of the tuple
print("The length of the tuple is:", count)

5
The length of the tuple is: 5

In [76]:
#4. Count the occurrences of an element in a tuple.
my_tuple = (1, 2, 2, 3, 2, 4, 5)
count = my_tuple.count(2)
print(count)

#------
my_tuple = (10, 20, 30, 20, 40, 50, 20)
# Step 2: Choose the element to count occurrences of
element_to_count = 20
# Step 3: Initialize a variable to keep track of the count
count = 0
# Step 4: Iterate through the tuple and count occurrences of the chosen element
for item in my_tuple:
    if item == element_to_count:
        count += 1
# Step 5: Print the count of occurrences
print(f"The element {element_to_count} appears {count} times in the tuple.")

3
The element 20 appears 3 times in the tuple.

In [55]:
#5. Find the index of the first occurrence of an element in a tuple.
my_tuple = (1, 2, 3, 4, 5)
index = my_tuple.index(3)
print(index)

2

In [56]:
#6. Check if an element exists in a tuple.
my_tuple = (1, 2, 3, 4, 5)
if 3 in my_tuple:
    print("Element exists in the tuple")
else:
    print("Element does not exist in the tuple")

Element exists in the tuple

In [57]:
#7. Convert a tuple to a list.
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [58]:
#8. Convert a list to a tuple.
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [59]:
#9. Unpack the elements of a tuple into variables.
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a, b, c)

1 2 3

In [60]:
#10. Create a tuple of even numbers from 1 to 10.
even_tuple = tuple(num for num in range(1, 11) if num % 2 == 0)
print(even_tuple)

(2, 4, 6, 8, 10)

In [61]:
#11. Create a tuple of odd numbers from 1 to 10.
odd_tuple = tuple(num for num in range(1, 11) if num % 2 != 0)
print(odd_tuple)

(1, 3, 5, 7, 9)

In [62]:
#12. Concatenate two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [63]:
#13. Repeat a tuple three times.
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [64]:
#14. Check if a tuple is empty.
my_tuple = ()
if not my_tuple:
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is empty

In [65]:
#15. Create a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple)

((1, 2), (3, 4), (5, 6))

In [66]:
#16. Access the first element of a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element = nested_tuple[0]
print(first_element)

(1, 2)

In [69]:
#17. Create a tuple with a single element.
my_tuple = (1,)
print(my_tuple)

(1,)

In [70]:
#18. Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
if tuple1 == tuple2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

Tuples are not equal

In [72]:
#19. Delete a tuple.
my_tuple = (1, 2, 3)
del my_tuple

In [77]:
#20. Slice a tuple.
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
# Step 2: Slice the tuple to get a portion of it
sliced_tuple = my_tuple[2:6] # Elements from index 2 to 5 (end index is exclusive)
# Step 3: Print the sliced tuple
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

In [78]:
#21. Find the maximum value in a tuple.
my_tuple = (1, 5, 3, 2, 4)
max_value = max(my_tuple)
print(max_value)

5

In [79]:
#22. Find the minimum value in a tuple.
my_tuple = (1, 5, 3, 2, 4)
min_value = min(my_tuple)
print(min_value)

1

In [80]:
#23. Convert a string to a tuple of characters.
my_string = "hello"
char_tuple = tuple(my_string)
print(char_tuple)

('h', 'e', 'l', 'l', 'o')

In [81]:
#24. Convert a tuple of characters to a string.
char_tuple = ('h', 'e', 'l', 'l', 'o')
my_string = ''.join(char_tuple)
print(my_string)

hello

In [82]:
#25. Create a tuple from multiple data types.
my_tuple = (1, "hello", 3.14, True)
print(my_tuple)

(1, 'hello', 3.14, True)

In [83]:
#26. Check if two tuples are identical.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
if tuple1 == tuple2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

In [84]:
#27. Sort the elements of a tuple.
my_tuple = (3, 1, 4, 2, 5)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)

(1, 2, 3, 4, 5)

In [85]:
#28. Convert a tuple of integers to a tuple of strings.
integer_tuple = (1, 2, 3, 4, 5)
string_tuple = tuple(str(num) for num in integer_tuple)
print(string_tuple)

('1', '2', '3', '4', '5')

In [86]:
#29. Convert a tuple of strings to a tuple of integers.
string_tuple = ("1", "2", "3", "4", "5")
integer_tuple = tuple(int(num) for num in string_tuple)
print(integer_tuple)

(1, 2, 3, 4, 5)

In [87]:
#30. Merge two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [88]:
#31. Flatten a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

In [89]:
#32. Create a tuple of the first 5 prime numbers.
prime_tuple = (2, 3, 5, 7, 11)
print(prime_tuple)

(2, 3, 5, 7, 11)

In [90]:
#33. Check if a tuple is a palindrome.
my_tuple = (1, 2, 3, 2, 1)
if my_tuple == my_tuple[::-1]:
    print("Tuple is a palindrome")
else:
    print("Tuple is not a palindrome")

Tuple is a palindrome

In [91]:
#34. Create a tuple of squares of numbers from 1 to 5.
squared_tuple = tuple(num**2 for num in range(1, 6))
print(squared_tuple)

(1, 4, 9, 16, 25)

In [92]:
#35. Filter out all even numbers from a tuple.
my_tuple = (1, 2, 3, 4, 5, 6)
filtered_tuple = tuple(num for num in my_tuple if num % 2 != 0)
print(filtered_tuple)

(1, 3, 5)

In [93]:
#36. Multiply all elements in a tuple by 2.
my_tuple = (1, 2, 3, 4, 5)
multiplied_tuple = tuple(num * 2 for num in my_tuple)
print(multiplied_tuple)

(2, 4, 6, 8, 10)

In [94]:
#37. Create a tuple of random numbers.
import random
random_tuple = tuple(random.randint(1, 10) for _ in range(5))
print(random_tuple)

(8, 8, 5, 9, 7)

In [95]:
#38. Check if a tuple is sorted.
my_tuple = (1, 2, 3, 4, 5)
if my_tuple == tuple(sorted(my_tuple)):
    print("Tuple is sorted")
else:
    print("Tuple is not sorted")

Tuple is sorted

In [96]:
#39. Rotate a tuple to the left by `n` positions.
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[n:] + my_tuple[:n]
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [97]:
#40. Rotate a tuple to the right by `n` positions.
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [98]:
#41. Create a tuple of the first 5 Fibonacci numbers.
fibonacci_tuple = (0, 1)
n = 5
for i in range(2, n):
    fibonacci_tuple += (fibonacci_tuple[i-1] + fibonacci_tuple[i-2],)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [99]:
#42. Create a tuple from user input.
user_input = input("Enter comma-separated values: ")
user_tuple = tuple(user_input.split(","))
print(user_tuple)

Enter comma-separated values:  sf,jhh

('sf', 'jhh')

In [100]:
#43. Swap two elements in a tuple.
my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
swapped_tuple = list(my_tuple)
swapped_tuple[index1], swapped_tuple[index2] = swapped_tuple[index2], swapped_tuple[index1]
result_tuple = tuple(swapped_tuple)
print(result_tuple)

(1, 4, 3, 2, 5)

In [101]:
#44. Reverse the elements of a tuple.
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [102]:
#45. Create a tuple of the first `n` powers of 2.
n = 5
powers_of_two_tuple = tuple(2**i for i in range(n))
print(powers_of_two_tuple)

(1, 2, 4, 8, 16)

In [103]:
#46. Find the longest string in a tuple of strings.
string_tuple = ("apple", "banana", "orange", "kiwi")
longest_string = max(string_tuple, key=len)
print(longest_string)

banana

In [104]:
#47. Find the shortest string in a tuple of strings.
string_tuple = ("apple", "banana", "orange", "kiwi")
shortest_string = min(string_tuple, key=len)
print(shortest_string)

kiwi

In [105]:
#48. Create a tuple of the first `n` triangular numbers.
n = 5
triangular_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n+1))
print(triangular_tuple)

(1, 3, 6, 10, 15)

In [106]:
#49. Check if a tuple contains another tuple as a subsequence.
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (2, 3)
if all(item in tuple1 for item in tuple2):
    print("Tuple contains another tuple as a subsequence")
else:
    print("Tuple does not contain another tuple as a subsequence")

Tuple contains another tuple as a subsequence

In [107]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
n = 8
alternating_tuple = tuple(i % 2 for i in range(n))
print(alternating_tuple)

(0, 1, 0, 1, 0, 1, 0, 1)